.hero {
  background: url("../../media/back.svg") no-repeat center center / cover;
  max-height: 100vh;
  overflow: hidden;
}

.main-search {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.main-search .intro h1 {
  font-size: 5rem;
  color: white;
}
.main-search .intro p {
  font-size: 1.3rem;
  color: grey;
}
.main-search .search {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.main-search .search input {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 30rem;
}
.main-search .search button {
  padding: 0.5rem 1rem;
  width: 30%;
  background: none;
  color: white;
  border: solid 2px white;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 1.3rem;
}
.main-search .search button:hover {
  background-color: white;
  color: black;
}
