.movies {
  background-color: rgb(30, 29, 29);
  padding: 2rem 0;
}
.movies .result {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.587);
  margin-left: 2rem;
}
.movies .movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}
