.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
}

.nav-logo p {
  font-size: 1.4rem;
  color: white;
}

.nav-links button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background: none;
  border: solid 2px white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
